body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: #00AFF5;
    padding: 0px 10px;
}
a:hover {
    color: rgb(43, 107, 226);
    transition: 0.5s;
}

.container-navbar1 {
    display: flex;
    padding-left: 24px;
    align-items: center;
    font-weight: bolder;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #00AFF5;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    height: 72px;
    font-weight: 500;
    z-index: 1000;
}

.big_container{
    display: flex;
    justify-content: center;
}

.container_position_relative{
    position: relative;
    /* display: inline-block; */
    z-index: 998;
    display: flex;
    justify-content: center;
}
.texte_position_absolute{
    position: absolute;
    font-size: 50px;
    font-weight: 600;
    color: white;
    top: 30px;
}


.container_principal_navbar_2{
    display: flex; 
    margin-top: -30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: absolute;
    z-index: 999;
}

.container-navbar2 {
    padding-right: 24px;
}

.container-navbar2 img {
    padding: 0 7px;
}

.photo2 {
    margin-top: 73px;
    width: 100%;
    height: auto
}

input::placeholder{
    font-weight: 500;
    /* font-size: larger; */
    color: #6F8B90;
}
.input1,
.input2,
.input3,
.input4,
.input5 {
    border-width: 0.1px;
    border: transparent;
    width: 190px;
}

.input1,.input2,.input3,.input4,.input5,
.input-submit,.input-submit_1,.input-submit_2,.input-submit_3,.input-submit_4:hover {
    cursor: pointer;
    outline: none;
}
.input-submit_1:hover,
.input-submit_2:hover,
.input-submit_3:hover{
    background-color: #0d7097;
}

.input1 {
    height: 56px;
    font-weight: 500;
    font-size: larger;
    /* color: #6F8B90; */
}

.input2 {
    height: 56px;
    font-weight: 500;
    font-size: larger;
}

.input3 {
    height: 56px;
    font-weight: 500;
    font-size: larger;
}


.input4 {
    height: 54px;  
    width: 56px;  
    font-weight: 500;
    
}
.input3::placeholder,
.input4::placeholder{
    color: black;
    font-weight: 500;
    font-size: medium;
}
.input5 {
    color: rgb(255, 255, 255);
    height: 56px;
    border-radius: 0 13px 13px 0;
    background-color: #00AFF5;
    
}

.main{
    display: flex;
}
.image-main_1 {
  background: #fffdfd;
  padding:12px 10px 10px 10px;
  height: 25px;
  border-radius: 15px 0px 15px 15px; 
}
.image-main_2{
    background: #fffdfd;
    padding:12px 10px 10px 10px;
    height: 25px;
}
.image-main_4{
    background: #fffdfd;
    padding:12px 10px 10px 10px;
    height: 25px;
}


.container_principal {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.container_principal_sherlock_woomen{
    display: flex;
    justify-content: center;
    background-color: #00AFF5;
    margin-top: 25px;
}
.entete_sherlock_woomen{
    color: #ffffff;
    font-size: xx-large;
    font-weight: 700;
}
.textedelentete_sherlock_woomen{
    color: #ffffff;
}
.input-submit_4{
    font-size: large;
    font-weight: 500;
    height: 50px;
    border: transparent;
    border-radius: 25px;
    color: #00AFF5;
    padding: 0;
    margin-left: -8px;

}


.paragraphe_du_container_principal{
    margin-top: 60px;
}

.photo7 {
    margin-right: 20px;
}
/* .container_main {
    display: flex;
    justify-content: center;
    margin-top: -30px;
} */

.entete {
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 0;
    color: hsla(189, 89%, 17%, 1);
}

.textedelentete {
    margin-top: 5px;
    color: #6F8B90;
}

.container-input-submit {
    /* display: flex; */
}

.container_covoiturage_blablalife{
    display: flex;
    justify-content: space-between;
    margin: 0px 65px 0px 65px;

}

.input-submit_1 {
    color: #ffffff;
    background-color: #00AFF5;
    border: transparent;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    font-size: large;
}

.input-submit:hover {
    background-color: #0d7097;
}

.input-submit_2 {
    color: #ffffff;
    background-color: #00AFF5;
    border: transparent;
    border-radius: 25px;
    height: 50px;
    width: 230px;
    font-size: large;
}
.input-submit_3{
    color: #ffffff;
    background-color: #00AFF5;
    border: transparent;
    font-size: large;
    border-radius: 25px;
    height: 50px;
    padding: 0px 10px;
}
.photo6 {
    margin-left: 20px;
}

.container_3_colonnestextes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}
.container_3_colonnestextes_footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
    background-color: #f0f0f0;
}    
    

.paragrapahe_colonne {
    padding: 0 35px;
}
.entete_3_colonnes {
    color: hsla(189, 89%, 17%, 1);
    font-size: large;
    font-weight: 600;
}
.container_destinations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 213px;
    background-color: #054652;
    padding-top: 10px;
}
.villes{
  margin: 0px 10px;
}
.titre_destinations_1{
    color:white;
    font-size: 25px;
    font-weight: 700;
    margin-top: -52px;
}
.sous_titre_destinations_1{
    color: #00AFF5;
    margin-left: 230px;
    margin-bottom: -32Px;
}

.quatres_colonnes_bas_de_page{
    line-height: 40px;
    color: #054652;
    font-weight: 600;
    padding: 0px -10px;
    font-size: 15px;  
}
.titres_bas_de_page{
    font-size: larger;
    font-weight: 700;
    /* margin-bottom: 30px; */
}
.langue{
    margin-top: 50px;
}

.footer_container{
    display: flex;
    justify-content: space-around;
    padding: 20px 5px;
}
.footer_container_1{
    display: flex;
    padding: 20px 5px;
    color: #6F8B90 ;
    font-weight: 500;
    
}
.footer_container_1:hover{
    cursor: pointer;
}
.footer_container_2{
    margin-right: 20px;
}



